code {
	color: rgb(0, 22, 142);
}

.alloy-datatable th.header-facet {
	font-weight: bold;
	text-align: center;
}

.aui .aui-field-element .portlet-msg-error {
	position: relative;
	top: -10px;
}

.aui span.inline-code {
	border: 1px solid #cfcfcf;
	font-family: monospace;
	white-space:nowrap;
}

.aui span.inline-warning {
	color: #ff0000;
}

.aui .files table {
	float: right;
}

.aui .files td,.aui .files th {
	padding: 6px;
}

.aui hr {
	border-top: 1px solid #cfcfcf;
	margin-top: 10px;
	margin-bottom: 10px;
}

.aui label.field-label {
	font-weight: bold;
}

.aui .alloy-dialog {
	text-align: center;
}

.aui .alloy-popover {
	text-align: center;
	padding: 6px;
}

.aui .alloy-output-tooltip {
	text-align: center;
}

.aui .alloy-select-many-checkbox label,.aui .alloy-select-one-radio label {
	font-size: 0.9em;
}

.aui .showcase-example .alloy-field label.control-label {
	font-size: 1.1em;
	font-weight: bold;
}

.aui .showcase-example .alloy-output-label {
	font-size: 1.1em;
	font-weight: bold;
}

.aui ul.feedback {
	list-style-type: none;
}

.component-rendered-checkbox label,.component-required-checkbox label {
	display: inline;
	margin-right: 10px;
}

.editableAceEditor .ace_editor {
	margin-bottom: 10px;
	margin-top: 10px;
}

.tab-content img {
	float: left;
	margin-right: 10px;
}

.tab-content p {
	text-align: middle;
}