.aui .aui-field-element .portlet-msg-error {
	position: relative;
	top: -10px;
}

.aui span.inline-code {
	border:1px solid #cfcfcf;
	font-family: monospace;
}

.aui .files table {
	float: right;
}

.aui .files td, .aui .files th {
	padding: 6px;
}

.aui hr {
	border-top: 1px solid #cfcfcf;
	margin-top: 10px;
	margin-bottom: 10px;	
}

.aui label.field-label {
	font-weight: bold;
}

.component-rendered-checkbox input, .component-required-checkbox input {
	vertical-align: 0.1em;
}

.component-rendered-checkbox label, .component-required-checkbox label {
	display: inline;
	margin-right: 10px;
}

.editableAceEditor .ace_editor {
	margin-bottom: 10px;
	margin-top: 10px;
}

.tab-content img {
	float: left;
	margin-right: 10px;
}

.tab-content p {
	text-align: middle;
}