.icefaces3-compat-portlet .uploaded-files table {
    width: 100%;
}

.icefaces3-compat-portlet .uploaded-files-table th, .uploaded-files td {
    padding-left: 4px;
    padding-right: 4px;
}

.icefaces3-compat-portlet .iceSelInpDateInput {
	width: 190px;
}