.icefaces3-compat-portlet .iceDatTbl {
	margin: 0px;
}

.icefaces3-compat-portlet .iceOutConStat {
	margin: 0px;
}

.icefaces3-compat-portlet .iceSelOneMnu {
	padding: 1px 1px 1px 1px;
}

.icefaces3-compat-portlet .iceInpTxt {
	margin: 0px;
}

.icefaces3-compat-portlet .iceOutLbl {
	padding: 1px 4px 1px 0px;
}
