.booking-type {
	clear: both;
	display: inline;
	float: right;
	width: 100px;
}

.demo-search-results .results-header {
	text-align: center;
}

.liferay-logo {
	float: right;
}

.shopping-cart {
	clear: both;
	display: inline;
	float: right;
	width: 100px;
}

.total-price {
	text-align: center;
}

.travel-booking {
	float: left;
}
