.iceOutProg {
	margin: 0px;
}

.iceDatTbl {
	margin: 0px;
}

.iceOutConStat {
	margin: 0px;
}

.iceSelOneMnu {
	padding: 1px 1px 1px 1px;
}

.iceInpTxt {
	margin: 0px;
}

.iceOutLbl {
	padding: 1px 4px 1px 0px;
}